<!DOCTYPE html>
<html>
<title>Login App</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<nav>
  <p>
      <a href="">SignOut</a>

      <p> <%=username %></p>
  </p>
</nav>

<body>
  <div>
    <p>Main Page</p>
  </div>
</body>

</html>